.PianoKeyboard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.PianoKeyboardのkeyHolder {
  position: absolute;
  top: 0;
  bottom: 0;
}

.PianoKeyboardのkey {
  position: absolute;
  background: #8b8685;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #b9b8b7;
  border-bottom-color: #090807;
  border-right-color: #090807;
  z-index: 1;
}

.PianoKeyboardのblackKey {
  position: absolute;
  box-sizing: border-box;
  background: #252423;
  top: 0;
  bottom: 50%;
  left: 60%;
  width: 80%;
  border: 2px solid #b9b8b7;
  border-bottom-color: #090807;
  border-right-color: #090807;
  z-index: 2;
}

.PianoKeyboardのkey.is-active,
.PianoKeyboardのblackKey.is-active {
  background: #ffb;
  pointer-events: none;
  border-color: white black black white;
}
